@font-face {
  font-family: "Noto Serif";
  src: url("fonts/NotoSerif-VariableFont_wdth.ttf") format("truetype");
  font-weight: 1 999;
  font-style: normal;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: "Noto Serif";
  src: url("fonts/NotoSerif-Italic-VariableFont_wdth.ttf")
    format("truetype");
  font-weight: 1 999;
  font-style: italic;
  font-stretch: 50% 200%;
}

a.site-title {
  font-family: "Cormorant Garamond", serif !important;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Noto Serif", serif !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

a:visited {
  color: #000000 !important;
}
