.grid {
  display: grid;
  gap: 1px;
}

.grid div {
  border: 1px solid #ddd;
}

.slideContainer {
  display: flex;
  width: 20vw;
  flex-direction: column;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  height: 3vh;
}

.center {
  display: flex;
  justify-content: center;
}

#footer {
  margin: 5px 0 0 0;
}
