<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>__title__</title>
    <link rel="shortcut icon" type="image/jpg" href="../assets/favicon.png"/>

    __seo__

    __css_placeholder__

    <!-- {%- feed_meta -%} -->

    <!-- highlight.js support -->
    <link rel="stylesheet" href="../assets/js/highlightjs/styles/github.css" />
    <link rel="stylesheet" href="../assets/js/highlightjs/styles/ssms.css" />
    <link rel="stylesheet" href="../assets/js/highlightjs/styles/default.css" />

    <script
      type="text/javascript"
      src="../assets/js/highlightjs/highlight.min.js"
    ></script>

    <script
      type="text/javascript"
      src="../assets/js/highlightjs/languages/plaintext.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/highlightjs/languages/powershell.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../assets/js/highlightjs/languages/tsql.min.js"
    ></script>

    <script type="text/javascript">
      hljs.highlightAll();
    </script>
    <!-- end highlight.js support -->

    __google_analytics__

  </head>

  <body>

    __header__

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <!-- _content_ has to be on separate line for sed to work -->
        __content__
      </div>
    </main>

    __footer__

  </body>
</html>
