<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">Rahul's blog</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/rahultumpala"
              ><svg class="svg-icon">
                <use
                  xlink:href="/../assets/minima-social-icons.svg#github"
                ></use>
              </svg>
              <span class="username">rahultumpala</span></a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rahul-tumpala"
              ><svg class="svg-icon">
                <use
                  xlink:href="/../assets/minima-social-icons.svg#linkedin"
                ></use>
              </svg>
              <span class="username">rahul-tumpala</span></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2 footer-col-3">
        <p>
          About algorithms, compilers, functional programming and programming
          lanugages.
        </p>
      </div>
    </div>
  </div>
</footer>
